body{
    overflow:hidden;
    background: transparent;
}

#wrapper{
  height:385px;
  width:420px;
  padding-top:25px;
  overflow:auto;
  top:12px;
  left:12px;
  -webkit-border-radius:10px;
  background: #a0e1e2;  
  z-index:2;  
  position:relative;
}

#border{
    z-index:0;
    position:absolute;
    border:12px solid #4073c8;
    background:#4073c8;
	height:408px;
	width:418px;
	top:1px;
	left:1px;
    -webkit-border-radius:10px;
}

.box{
    background:#c1eaff;
    border:2px solid #4073c8;
}

#settings{
    width:300px;
    overflow:hidden;
    margin:0 auto;
    padding:10px;
    display:none;
    -webkit-border-radius:8px;
    box-shadow:2px 2px 2px #000;
}
#main {height:340px; overflow:auto;}

nav{
    width:auto;
    display:block;
    margin-top:5px;
    margin:0 auto;
    text-align:center;
    line-height:42px;
    vertical-align:middle;height:42px;
    
}

h1{
	text-align:center;
	margin:10px auto;
}

table{
    font-size :10px;
    width:290px;
    margin:0 auto;
}

table thead{
    height:15px;
    border:1px solid #4073c8;
}

table tbody{
    height:150px;
    overflow:auto;	
}

#sites_cont{
    height:0;
    overflow:hidden;
}

#sites_cont, #settings {
    position:absolute;
    width:300px;
    right:60px;
    bottom:55px;
}

#sites_cont {
    width:430px;
    right:0px;
}

td, th{
	border:1px solid #4073c8;
	padding:5px;
}

#add_folder{
    width: 150px;
    margin: 0 auto;
}


nav button{display:inline-block;vertical-align:middle}

#changes{
    width:380px;
    font-size:8px;
    margin:0 auto;
}

#changes .src { width:38%;}
#changes .sel { width:8%;}
#changes .prop {width:8%;}
#changes .action {width:8%;}
#changes .val {width:38%;}

#power, #change_settings, #manage_sites{
    width:32px;
    height:32px;
    background:transparent no-repeat;
    border:none;
    margin:5px;
    cursor:pointer;
    z-index:10;
}

#power.on{
    background-image:url(../images/power_on.png);
}

#power.off{
    background-image:url(../images/power_off.png);
}

#change_settings {
	background-image:url(../images/settings.png);
}

#manage_sites {
    background-image:url(../images/sites.png);
}

#main-close{
    height:24px;
    width:24px;
    position:absolute;
    right:9px;
    top:2px;
    background-image:url(../images/close.png);
    cursor:pointer;
    z-index:300;
}

#move{
	height:15px; 
	width:15px; 
	cursor:move;
	top:17px; 
	left:17px;
	background-image:url(../images/move.png);
	display:block;
	position:absolute;
	z-index:300;
}